.transactions__table {
	/*border: 1px solid #ccc;*/
	/*padding: 10px;*/
	margin: 0px 10px;
	font-size: .8em;
}

.transactions__header {
	width: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-bottom: 2px;
	padding: 10px 0px;
	color: white;
	background-color: black;
	font-size: 1em;
}

.transactions__row {
	display: flex;
	flex-direction: row;
	background-color: #f9f9f9;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 10px 0px;
	text-align: left;
}

.transactions__date {
	width: 10%;
	padding: 0px 7px;
	margin: auto;
}
.transactions__description {
	width: 50%;
	padding: 0px 7px;
	margin: auto;
}
.transactions__credit {
	width: 10%;
	padding: 0px 7px;
	margin: auto;
}
.transactions__debit {
	width: 10%;
	padding: 0px 7px;
	margin: auto;
}

.transactions__categories {
	width: 10%;
	padding: 0px 7px;
	margin: auto;
}